
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout::layout">
<section>
  <h2>Agregar Categoría</h2>
  <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" th:field="*{nombre}" required/>
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" th:field="*{descripcion}"></textarea>
    </div>
    <button class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" th:href="@{/categorias}">Cancelar</a>
  </form>
</section>
</html>
